<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SensitiveWords</key>
	<array>
		<string>微信</string>
		<string>加我</string>
		<string>夹我</string>
		<string>扣扣</string>
		<string>qq</string>
		<string>一夜情</string>
		<string>裸聊</string>
		<string>视频</string>
		<string>135</string>
		<string>136</string>
		<string>137</string>
		<string>138</string>
		<string>139</string>
		<string>185</string>
		<string>186</string>
		<string>187</string>
		<string>188</string>
		<string>189</string>
		<string>158</string>
		<string>找熟女</string>
		<string>请加</string>
		<string>找我聊</string>
		<string>口交</string>
		<string>阴道</string>
		<string>阴茎</string>
	</array>
</dict>
</plist>
